<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team13.patientclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatientClient"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.OtpActivity"/>
        <activity android:name=".activities.TreatmentActivity" />
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.BookAppointmentActivity" />
        <activity android:name=".activities.BookAppointmentDashboard" />
        <activity android:name=".activities.Cart" />
        <activity android:name=".activities.DrugActivity" />
        <activity android:name=".activities.ServiceActivity" />
        <activity android:name=".activities.DoctorDetailActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.AllServiceActivity" />
        <activity android:name=".activities.PharmacyActivity" />
        <activity android:name=".activities.LocationActivity" />
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhAxDRVBfpLF48CUSg_5aMMelEOMvJEtk" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".activities.AlarmReceiverActivity"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>